body {
    margin: 0;
    padding: 0;
}
.naglowek {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.lewy {
    float: left;
    min-height: 150px;
    width: 20%;
}

.srodek {
    float: left;
    min-height: 150px;
    width: 50%;
}

.prawy {
    float: left;
    min-height: 150px;
    width: 30%;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    background:#b5fbbd;
    }